<aside class="sidebar">

<div class="sidebar-logo">

<img src="../../assets/logos/endur-logo.svg">

<div>

<strong>Endur</strong>

<p id="roleLabel"></p>

</div>

</div>


<nav class="sidebar-menu">

<a href="dashboard.html" data-link="dashboard">

Dashboard

</a>

<a href="courses.html" data-link="courses">

My Courses

</a>

<a href="pending-feedback.html" data-link="pending">

Pending Feedbacks

</a>

<a href="feedback-history.html" data-link="history">

History

</a>

</nav>


<a href="profile.html" class="sidebar-user">

<div class="avatar" id="avatar"></div>

<div>

<strong id="userName"></strong>

<p id="userDept"></p>

</div>

</a>


</aside>
